code {
	tab-size: 4;
	-o-tab-size: 4;
	-moz-tab-size: 4;
}
pre {
/*	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 0.7rem;
	line-height: 1.4;
	white-space: pre;
	overflow: auto;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	padding: .5rem;
	max-height: 800px;
	font-family: monospace;*/
	code {
		color: inherit;
		background-color: transparent;
		padding: 0;
		display: block;
		tab-size: 4;
		-o-tab-size: 4;
		-moz-tab-size: 4;
	}
	.line-number {
		display: block;
		float: left;
		margin: 0 1em 0 -1em;
		border-right: 1px solid #ddd;
		text-align: right;
		span {
			display: block;
			padding: 0 .5em 0 1em;
			color: #BDBDBD;
		}
	}
	.cl {
		display: block;
		clear: both;

	}
}

/*
div.language-cpp.highlighter-rouge {
	tab-size: 4;
	-o-tab-size: 4;
	-moz-tab-size: 4;
}
div,p,span,textarea {
	tab-size: 4;
	-o-tab-size: 4;
	-moz-tab-size: 4;
}
*/

div.sourceCode {
	background-color: #222233; /* _sass/_base.scss에 정의된 'pre'의 background-color와 동일한 색상 */
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}


pre.numberSource code > span > a:first-child::before {
	color: #ffe5a0 !important;
}


code span.al { color: #ff0000 !important; } /* Alert */
code span.an { color: #60a0b0 !important; } /* Annotation */
code span.at { color: #7d9029 !important; } /* Attribute */
code span.bn { color: #40a070 !important; } /* BaseN */
code span.bu { } /* BuiltIn */
code span.cf { color: #ffcc66 !important; } /* ControlFlow */
code span.ch { color: #f99157 !important; } /* Char */
code span.cn { color: #f99157 !important; } /* Constant */
code span.co { color: #6ee3f7 !important; } /* Comment */
code span.cv { color: #60a0b0 !important; } /* CommentVar */
code span.do { color: #ba2121 !important; } /* Documentation */
code span.dt { color: #54ff9f !important; } /* DataType */
code span.dv { color: #cc7832 !important; } /* DecVal */
code span.er { color: #ff0000 !important; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #40a070 !important; } /* Float */
code span.fu { color: #f92672 !important; } /* Function */
code span.im { } /* Import */
code span.in { color: #60a0b0 !important; } /* Information */
code span.kw { color: #6699cc !important; } /* Keyword */
code span.op { color: #666666 !important; } /* Operator */
code span.ot { color: #007020 !important; } /* Other */
code span.pp { color: #cc99cc !important; } /* Preprocessor */
code span.sc { color: #b778ff !important; } /* SpecialChar */
code span.ss { color: #b778ff !important; } /* SpecialString */
code span.st { color: #ff4949 !important; } /* String */
code span.va { color: #79aaff !important; } /* Variable */
code span.vs { color: #4070a0 !important; } /* VerbatimString */
code span.wa { color: #60a0b0 !important; } /* Warning */
